.addedClass {
	color: red;
}

html *{
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
	background-size: 100% 100% 100% 100%;
	background-image: url("clouds.jpg");
}

h1 {
	color: white;
}
.form__div{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	margin: auto;
	border: 3px solid black;
	padding: 10px;
}

@media only screen and (min-width: 600px) {
	body{
		background-size: 100%;
		background-image: url("clouds.jpg");


  }
}
